@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Cormorant+Upright&family=Zen+Kurenaido&display=swap');


.noselect {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
body{
    background-color: black;
    color: white;
    margin: 0;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
*{
    scrollbar-width: none;
    font-family: 'Zen Kurenaido', sans-serif;
}
button {
    font-weight: 200;
    border: none;
    background-color: rgb(210, 210, 210);
}





.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.home-overview{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}
.home-content{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-image-carousel{
    position: absolute;
    z-index: 1;
    height: 60%;
    width: 100%;
    top: 17vh;
    transition: opacity 1s;
}
.home-image{
    position: absolute;
    z-index: 0;
    width: 18%;
    height: 42%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}
.home-image.animate{
    transition: all 1s;
}
.home-image.selected{
    width: 50%;
    height: 100%;
}
.home-image video{
    transition: all 1s;
    width: 100%;
    object-fit: cover;
}
.home-image-gradient{
    transition: opacity 1s;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent, transparent);
    opacity: 0;
}
.home-overview-text{
    position: absolute;
    width: 100vw;
    height: min-content;
    font-size: 60px;
    box-sizing: border-box;
    padding-left: 12vw;
    bottom: 20vh;
    font-weight: 200;
}
.home-image-overview{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.home-find-hotels{
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    width: max-content;
    height: min-content;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.home-find-hotel-svg{
    box-sizing: border-box;
    height: 3vh;
    width: 2vw;
    background-image: url('Svg/RightArrow.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.home-find-hotel-text{
    cursor: pointer;
}
.home-description{
    padding-top: 1.5vh;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 2vh;
    font-weight: 200;
}
.typing-cursor-text{
    color: transparent;
    width: 4px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    animation: blinkCursor 0.7s infinite;
}
.overview-title{
    display: inline-block;
}
.home-find-hotel-svg.overview-svg{
    position: relative;
    left: 2%;
    top: 10%;
    height: 3vh;
    width: 2vw;
    background-size: 100%;
}
.home-description.overview-description.animate{
    transition: all 2s 2s;
}
.home-find-hotels.overview-find-hotels.animate{
    transition: all 2s 2.8s;
}
.home-description.overview-description{
    opacity: 0;
    width: 35vw;
    font-size: 13px;
    line-height: 15px;
}
.home-find-hotels.overview-find-hotels{
    padding-bottom: 0.5vh;
    position: absolute;
    bottom: 2vh;
    right: 12vw;
    opacity: 0;
    font-size: 32px;
    font-weight: 200;
    animation: searchbar 2s infinite;
}
@keyframes blinkCursor {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
.home-nav{
    position: absolute;
    z-index: 0;
    width: 36vw;
    height: 8vh;
    bottom: 13vh;
    right: 7vw;
    display: flex;
    gap: 0.5vw;
    cursor: pointer;
}
.home-nav-item{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}
.home-nav-line{
    background-color: rgb(83, 83, 83);
    height: 2px;
    width: 100%;
}
.home-nav-item.selected .home-nav-line{
    background-color: rgb(255, 255, 255);
}
.home-content-text{
    position: absolute;
    z-index: 0;
    width: 30vw;
    height: min-content;
    font-size: 60px;
    box-sizing: border-box;
    padding-left: 7vw;
    bottom: 24vh;
    left: 0;
    font-size: 60px;
    font-weight: 200;
}
.home-content-searchbar-hover{
    position: absolute;
    top: 0vh;
    width: 50%;
    height: 20vh;
}
.home-content-searchbar{
    height: 6vh;
    box-sizing: border-box;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw 1vh 1vw;
    position: absolute;
    top: 4vh;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.home-content-searchbar:hover, .home-content-searchbar-hover:hover ~.home-content-searchbar{
    animation: searchbar 1s infinite 
}
.home-content-searchbar.selected{
    animation: none;
}
.home-content-searchbar svg{
    height: 60%;
    width: 1.5vw;
}
@keyframes searchbar {
    0%{
        border-color: transparent;
    }
    100%{
        border-color: white;
    }
}
.home-content-searchbar-input{
    height: 70%;
    flex-grow: 1;
    padding-left: 3%;
    padding-bottom: 0%;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 18px;
    font-weight: 200;
}
.home-content-searchbar-cancel, .hotel-content-searchbar-cancel{
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.home-content-searchbar-suggestions-container{
    position: absolute;
    z-index: 10;
    top: 100%;
    left: -1px;
    width: 100%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-content-searchbar-suggestions{
    cursor: pointer;
    width: 80%;
    padding-bottom: 0.5vh;
    padding-top: 1vh;
    color: rgb(255, 255, 255);
    opacity: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 200;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
}
.home-content-searchbar-suggestions > a{
    color: white;
    text-decoration: none;
}
.home-content-searchbar-suggestions.selected{
    font-weight: 400;
    border-bottom: 2px solid rgb(255, 255, 255);
    animation: searchbar 1s infinite;
}
.home-background{
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s;
    overflow: hidden;
}
.home-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.5;
    object-position: 0 100%;
    opacity: 30%;
    filter: blur(50px);
}

